
.status {
    border: 4px solid;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

.status-on {
    display: none;
    color: green;
    border-color: green;
}

.status-off {
    color: red;
    border-color: red;
}

#extension-popup.enabled .status-off {
    display: none;
}

#extension-popup.enabled .status-on {
    display: block;
}

.button {
    width: 109px;
    height: 179px;
}

.button-on {
    display: none;
}

.button-off {
    display: block;
}

#extension-popup.enabled .button-on {
    display: block;
}

#extension-popup.enabled .button-off {
    display: none;
}

